body {
  font-family: "Open Sans", sans-serif;
  /* padding-top: 80px;  */
}
.carousel-item {
  position: relative;
}

.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.card {
  border: none;
}

.team-member img {
  width: 100%;
  border-radius: 10px;
}
.social-icons {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.social-icons a {
  display: block;
  width: 35px;
  height: 35px;
  background: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}
.testimonial-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
.testimonial-card .quote {
  font-size: 24px;
  color: #007bff;
  float: right;
}
/* نلغي الصورة على الشاشات الصغيرة ونوسع الفورم */
/* نلغي الصورة على الشاشات الصغيرة ونوسع الفورم */
@media (max-width: 767.98px) {
  .forminput .imag {
    display: none; /* تلغي الصورة */
  }

  .forminput form {
    width: 100%; /* الفورم ياخد العرض كله */
  }

  .forminput .col {
    flex: 0 0 100%; /* كل الأعمدة تاخد 100% */
    max-width: 100%;
  }

  /* إضافة مسافة بين الـ inputs */
  .forminput .form-control {
    margin-bottom: 15px; /* أو أي قيمة مناسبة */
  }
}
